#accordion table thead tr{
    height: 30px;
}
#manager_level table input[type="text"]{
    width: 170px;
}
#syslog input[type="text"]{
    width:100px;
}
.syslog_opration{
    width: 100%;
}
.syslog_opration input{
    width: 130px;
}
.syslog_opration select{
    height: 26px;
}
.generalbgborder{
    padding-top:15px;
    margin-top: 15px;
    margin-left: 0px;
    margin-right: 0px;
}

form.form-inline label{
    font-weight:normal;
}

@media screen and (max-width:1366px) {
    #syslog_server{
        width:30%;
    }
}
