    <div class="modal-header modal_type" ng-class="{'foldedlv1menupurple':skin.isPurple, 'foldedlv1menublue':skin.isBlue}">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
        <div class="modal-title">Tools</div>
    </div>
    <div class="modal-body">
        <form role="form" class="form-inline" name="toolsform" novalidate>
            <div class="form-group">
                <select class="form-control" ng-model="requestParams.command" ng-options="unit.id as unit.name for unit in tools" ng-change="changeTool()"></select>
            </div>
            <div class="form-group">
                <label class="control-label">AP:</label>
                <select class="form-control" ng-model="operation.selectApIp" ng-options="unit.ip as unit.mac for unit in aps"></select>&nbsp;
            </div>
            <div class="form-group" ng-if="showHostname" ng-class="{'has-error': toolsform.hostname.$dirty && toolsform.hostname.$invalid}">
                <label class="control-label">{{"Host Name"|translate}}:</label>
                <input type="text" class="form-control" name="hostname" ng-model="requestParams.hostname" tooltip="x.x.x.x or domain name" tooltip-trigger="focus" placeholder="IP or Domain" ng-pattern="{{InterService.pattern.IPAndDomain}}" required>
            </div>
            <button class="btn btn-custommenu" ng-click="exec()" ng-disabled="toolsform.$invalid">{{"Exec"|translate}}</button>
            <div class="form-group" ng-show="toolsform.hostname.$dirty && toolsform.hostname.$invalid">
                <small class="text-danger" ng-show="toolsform.hostname.$error.pattern" ng-bind="InterService.errorTip.validIPOrDomain"></small>
                <small class="text-danger" ng-show="toolsform.hostname.$error.required" ng-bind="InterService.valueNotNull('Host Name');"></small>
            </div>
        </form>
        <br>    
        <div>
            Result:
            <textarea rows="15" ng-model="operation.result" style="width:100%;overflow:auto;resize:vertical;" disabled="disabled"></textarea>
        </div>

    </div>