<div class="modal-header modal_type" ng-class="{'foldedlv1menupurple':skin.isPurple, 'foldedlv1menublue':skin.isBlue}">
	<div class="modal-title">Logout Prompt</div>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-md-offset-2 col-md-10">
			<p ng-show="flag !=3" id="logout-5s" class="form-control-static">Your account has logged in elsewhere,  and this visit will end in 5 seconds.</p>
			<p ng-show="flag==3" id="logout-15s" class="form-control-static">Your login session is about to expire due to inactivity in 15 seconds.</p>
			<p ng-show="flag==3" class="form-control-static">Do you want to continue using the web management system?</p>
		</div>
	</div>
	<br/>
	<div class="row" ng-if="flag==3">
		<div class="col-md-offset-4 col-md-10">
			<button class="btn btn-custommenu" ng-click="unlogout()">YES</button>
			<button class="btn btn-custommenu" ng-click="logout()">NO</button>
		</div>
	</div>
</div>